- if @teams_error_message
  = content_for :flash_message do
    .alert.alert-danger= @teams_error_message

%p
  您不是位于
  %strong= Gitlab.config.mattermost.host
  的 Mattermost 实例的团队成员
%p
  要安装这个服务，请
  = link_to "#{Gitlab.config.mattermost.host}/select_team", target: '__blank' do
    加入团队
    = icon('external-link')
  后再重试。
%hr
.clearfix
  = link_to 'Go back', edit_project_service_path(@project, @service), class: 'btn btn-lg pull-right'
