- expanded = Rails.env.test?
- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('protected_tags')

%section.settings
  .settings-header
    %h4
      保护标签
    %button.btn.js-settings-toggle
      = expanded ? '收起' : '展开'
    %p
      限制标签的访问、创建权限。
  .settings-content.no-animate{ class: ('expanded' if expanded) }
    %p
      默认情况下，保护标签被设计为：
      %ul
        %li 除了主程序员外，禁止其他所有人员创建标签
        %li 禁止 <strong>任何人</strong> 更新此标签
        %li 禁止 <strong>任何人</strong> 删除此标签

    %p 点击 #{link_to "保护标签", help_page_path("user/project/protected_tags"), class: "underlined-link"} 了解更多。

    - if can? current_user, :admin_project, @project
      = render 'projects/protected_tags/create_protected_tag'

    = render "projects/protected_tags/tags_list"
