- @hide_top_links = true
- page_title "问题"
- header_title  "问题", issues_dashboard_path(assignee_id: current_user.id)
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, params.merge(rss_url_options), title: "#{current_user.name} 问题")

.top-area
  = render 'shared/issuable/nav', type: :issues
  .nav-controls
    = link_to params.merge(rss_url_options), class: 'btn has-tooltip', data: { container: 'body' }, title: '订阅' do
      = icon('rss')
    = render 'shared/new_project_item_select', path: 'issues/new', label: "新建问题", with_feature_enabled: 'issues', type: :issues

= render 'shared/issuable/filter', type: :issues
= render 'shared/issues'
