- page_title    "群组"
- header_title  "群组", dashboard_groups_path

- if current_user
  = render 'dashboard/groups_head'
- else
  = render 'explore/head'
  = render 'nav'

- if @groups.present?
  = render 'groups'
- else
  .nothing-here-block 没有公共群组

= paginate @groups, theme: "gitlab"
