- page_title "Applications"
- header_title page_title, applications_profile_path

.gray-content-block.top-block
  - if user_oauth_applications?
    Manage applications that can use GitLab as an OAuth provider,
    and applications that you've authorized to use your account.
  - else
    Manage applications that you've authorized to use your account.

- if user_oauth_applications?
  .oauth-applications
    %h3
      Your applications
      .pull-right
        = link_to 'New Application', new_oauth_application_path, class: 'btn btn-success'
    - if @applications.any?
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Callback URL
            %th Clients
            %th
            %th
        %tbody
          - @applications.each do |application|
            %tr{:id => "application_#{application.id}"}
              %td= link_to application.name, oauth_application_path(application)
              %td
                - application.redirect_uri.split.each do |uri|
                  %div= uri
              %td= application.access_tokens.count
              %td= link_to '编辑', edit_oauth_application_path(application), class: 'btn btn-link btn-sm'
              %td= render 'doorkeeper/applications/delete_form', application: application

.oauth-authorized-applications.prepend-top-20
  - if user_oauth_applications?
    %h3
      已认证应用

  - if @authorized_tokens.any?
    %table.table.table-striped
      %thead
        %tr
          %th 名称
          %th 认证时间
          %th 范围
          %th
      %tbody
        - @authorized_apps.each do |app|
          - token = app.authorized_tokens.order('created_at desc').first
          %tr{:id => "application_#{app.id}"}
            %td= app.name
            %td= token.created_at
            %td= token.scopes
            %td= render 'doorkeeper/authorized_applications/delete_form', application: app
        - @authorized_anonymous_tokens.each do |token|
          %tr
            %td
              匿名
              %div.help-block
                %em 获准在此应用程序中输入您的用户名和密码的授权。
            %td= token.created_at
            %td= token.scopes
            %td= render 'doorkeeper/authorized_applications/delete_form', token: token
  - else
    %p.light 没有认证任何应用
