- form = local_assigns.fetch(:form)
- deploy_key = local_assigns.fetch(:deploy_key)
- deploy_keys_project = deploy_key.deploy_keys_project_for(@project)

= form_errors(deploy_key)

.form-group
  = form.label :title, '标题', class: 'control-label'
  .col-sm-10= form.text_field :title, class: 'form-control'

.form-group
  - if deploy_key.new_record?
    = form.label :key, '密钥', class: 'control-label'
    .col-sm-10
      %p.light
        在这里粘贴一个机器的公钥。具体如何生成该公钥请点看
        = link_to '这里', help_page_path('ssh/README')
      = form.text_area :key, class: 'form-control thin_area', rows: 5
  - else
    = form.label :fingerprint, '指纹', class: 'control-label'
    .col-sm-10
      = form.text_field :fingerprint, class: 'form-control', readonly: 'readonly'

- if deploy_keys_project.present?
  = form.fields_for :deploy_keys_projects, deploy_keys_project do |deploy_keys_project_form|
    .form-group
      .control-label
      .col-sm-10
        = deploy_keys_project_form.label :can_push do
          = deploy_keys_project_form.check_box :can_push
          %strong 允许写操作
        %p.light.append-bottom-0
          允许使用该公钥向版本库推送修改么？（默认只允许拉取访问。）
