- ci_project = @project.gitlab_ci_project
%h4 整体统计
%ul
  %li
    合计：
    %strong= pluralize ci_project.builds.count(:all), '次构建', '次构建'
  %li
    成功：
    %strong= pluralize ci_project.builds.success.count(:all), '次构建', '次构建'
  %li
    失败：
    %strong= pluralize ci_project.builds.failed.count(:all), '次构建', '次构建'
  %li
    成功率：
    %strong
      #{success_ratio(ci_project.builds.success, ci_project.builds.failed)}%
  %li
    提交覆盖：
    %strong
      = ci_project.commits.count(:all)
