- ci_project = @project.gitlab_ci_project
%fieldset
  %legend 整体
  %p
    合计：
    %strong= pluralize ci_project.builds.count(:all), '次构建', '次构建'
  %p
    成功：
    %strong= pluralize ci_project.builds.success.count(:all), '次构建', '次构建'
  %p
    失败：
    %strong= pluralize ci_project.builds.failed.count(:all), '次构建', '次构建'

  %p
    成功率：
    %strong
      #{success_ratio(ci_project.builds.success, ci_project.builds.failed)}%

  %p
    提交覆盖：
    %strong
      = ci_project.commits.count(:all)
