%p.lead
  %span 要注册新的 runner 你需要输入后面的注册授权码。Runner 将使用这个唯一授权码来标识自己，并使用它和服务器通信。
  %code #{GitlabCi::REGISTRATION_TOKEN}

.bs-callout
  %p
    一个 'runner' 就是一个运行构建的进程。
    你可以按照自己的需要设置很多个 runner。
    %br
    Runners 可以被部署在不同的用户、服务器上，甚至在你本地使用的机器上。
    %br

  %div
    %span 每个 runner 可以是下列状态之一：
    %ul
      %li
        %span.label.label-success 共享的
        \- 会运行所有未特殊指定项目的构建
      %li
        %span.label.label-info 特定的
        \- 只运行被特殊指定到该 runner 的项目的构建
      %li
        %span.label.label-danger 暂停的
        \- 该 runner 不会接受任何新构建

.append-bottom-20.clearfix
  .pull-left
    = form_tag ci_admin_runners_path, id: 'runners-search', class: 'form-inline', method: :get do
      .form-group
        = search_field_tag :search, params[:search], class: 'form-control', placeholder: 'Runner 描述或授权码', spellcheck: false
      = submit_tag '搜索', class: 'btn'

  .pull-right.light
    最后联系时间少于一分钟前的 runner 数量：#{@active_runners_cnt}

%br

.table-holder
  %table.table
    %thead
      %tr
        %th 类型
        %th Runner 授权码
        %th 描述
        %th 项目
        %th 构建
        %th 标签
        %th 最后联系
        %th

    - @runners.each do |runner|
      = render "ci/admin/runners/runner", runner: runner
= paginate @runners
