- can_admin_project = can?(current_user, :admin_project, @project)

%tr.js-protected-branch-edit-form{ data: { url: namespace_project_protected_branch_path(@project.namespace, @project, protected_branch) } }
  %td
    %span.ref-name= protected_branch.name

    - if @project.root_ref?(protected_branch.name)
      %span.label.label-info.prepend-left-5 default
  %td
    - if protected_branch.wildcard?
      - matching_branches = protected_branch.matching(repository.branches)
      = link_to pluralize(matching_branches.count, "匹配分支"), namespace_project_protected_branch_path(@project.namespace, @project, protected_branch)
    - else
      - if commit = protected_branch.commit
        = link_to(commit.short_id, namespace_project_commit_path(@project.namespace, @project, commit.id), class: 'commit-sha')
        = time_ago_with_tooltip(commit.committed_date)
      - else
        (个分支从版本库中移除)

  = yield

  - if can_admin_project
    %td
      = link_to '解除保护', [@project.namespace.becomes(Namespace), @project, protected_branch], data: { confirm: '将允许开发人员写入该分支，你确定么？' }, method: :delete, class: 'btn btn-warning'
