.controls
  .dropdown.admin-settings-dropdown
    %a.dropdown-new.btn.btn-default{ href: '#', 'data-toggle' => 'dropdown' }
      = icon('cog')
      = icon('caret-down')
    %ul.dropdown-menu.dropdown-menu-align-right
      = nav_link(controller: :deploy_keys) do
        = link_to admin_deploy_keys_path, title: '部署密钥' do
          %span
            部署密钥

      = nav_link(controller: :services) do
        = link_to admin_application_settings_services_path, title: '服务模板' do
          %span
            服务模板

      = nav_link(controller: :labels) do
        = link_to admin_labels_path, title: '标记' do
          %span
            标记

      = nav_link(controller: :appearances) do
        = link_to admin_appearances_path, title: '外观' do
          %span
            外观

      %li.divider
      = nav_link(controller: :application_settings) do
        = link_to admin_application_settings_path, title: '设置' do
          %span
            设置
