- if project_nav_tab? :team
  = nav_link(controller: [:members, :teams]) do
    = link_to namespace_project_settings_members_path(@project.namespace, @project), title: '成员', class: 'team-tab tab' do
      %span
        成员
- if can_edit
  = nav_link(controller: :deploy_keys) do
    = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: '部署密钥' do
      %span
        部署密钥
  = nav_link(controller: :integrations) do
    = link_to namespace_project_settings_integrations_path(@project.namespace, @project), title: '集成' do
      %span
        集成
  = nav_link(controller: :protected_branches) do
    = link_to namespace_project_protected_branches_path(@project.namespace, @project), title: '保护分支' do
      %span
        保护分支

  - if @project.feature_available?(:builds, current_user)
    = nav_link(controller: :ci_cd) do
      = link_to namespace_project_settings_ci_cd_path(@project.namespace, @project), title: 'CI/CD 流水线' do
        %span
          CI/CD 流水线
  = nav_link(controller: :pages) do
    = link_to namespace_project_pages_path(@project.namespace, @project), title: '页面', data: {placement: 'right'} do
      %span
        页面
