- page_title "GitLab 导入"
- header_title "项目", root_path
%h3.page-title
  = icon('gitlab')
  导入一个已导出的 GitLab 项目
%hr

= form_tag import_gitlab_project_path, class: 'form-horizontal', multipart: true do
  %p
    项目将导入为：
    %strong
      #{@namespace.name}/#{@path}

  %p
    要将整个 GitLab 项目从其它的 GitLab 服务器上移动或复制到本服务器上，请从源项目的设置界面中导出项目文件，并在此上传。
  .form-group
    = hidden_field_tag :namespace_id, @namespace.id
    = hidden_field_tag :path, @path
    = label_tag :file, class: 'control-label' do
      %span GitLab 项目导出文件
    .col-sm-10
      = file_field_tag :file, class: ''

  .form-actions
    = submit_tag '导入项目', class: 'btn btn-create'
