- page_title "保护分支"
- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('protected_branches')

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0
      = page_title
    %p 保护稳定分支的安全并强制开发者使用合并请求功能
    %p.prepend-top-20
      默认情况下，保护分支被设计为：
      %ul
        %li 除了主程序员外，禁止其他所有人员创建分支
        %li 除了主程序员外，禁止其他所有人员推送
        %li 禁止<strong>任何人</strong> 强制推送此分支
        %li 禁止<strong>任何人</strong> 删除此分支
      %p.append-bottom-0 点击 #{link_to "保护分支", help_page_path("user/project/protected_branches"), class: "underlined-link"} 和 #{link_to "项目权限", help_page_path("user/permissions"), class: "underlined-link"}了解更多。
  .col-lg-9
    - if can? current_user, :admin_project, @project
      = render 'create_protected_branch'

    = render "branches_list"
