- page_title "应用"
- header_title page_title, applications_profile_path

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      - if user_oauth_applications?
        管理应用程序可以使用OAuth GitLab作为提供者,授权使用你的帐户。
      - else
        管理应用程序授权使用您的帐户。
  .col-lg-9
    - if user_oauth_applications?
      %h5.prepend-top-0
        添加新应用程序
      = render 'form', application: @application
      %hr
    - if user_oauth_applications?
      .oauth-applications
        %h5
          Your applications (#{@applications.size})
        - if @applications.any?
          .table-responsive
            %table.table
              %thead
                %tr
                  %th 名称
                  %th 回调链接
                  %th 客户端
                  %th.last-heading
              %tbody
                - @applications.each do |application|
                  %tr{id: "application_#{application.id}"}
                    %td= link_to application.name, oauth_application_path(application)
                    %td
                      - application.redirect_uri.split.each do |uri|
                        %div= uri
                    %td= application.access_tokens.count
                    %td
                      = link_to edit_oauth_application_path(application), class: "btn btn-transparent append-right-5" do
                        %span.sr-only
                          编辑
                        = icon('pencil')
                      = render 'delete_form', application: application, small: true
        - else
          .profile-settings-message.text-center
            你没有任何应用程序
    .oauth-authorized-applications.prepend-top-20.append-bottom-default
      - if user_oauth_applications?
        %h5
          授权应用程序 (#{@authorized_tokens.size})

      - if @authorized_tokens.any?
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th 名称
                %th 授权时间
                %th 权限
                %th
            %tbody
              - @authorized_apps.each do |app|
                - token = app.authorized_tokens.order('created_at desc').first
                %tr{id: "application_#{app.id}"}
                  %td= app.name
                  %td= token.created_at
                  %td= token.scopes
                  %td= render 'delete_form', application: app
              - @authorized_anonymous_tokens.each do |token|
                %tr
                  %td
                    匿名
                    %div.help-block
                      %em 授权通过输入您的用户名和密码被授予应用程序中。
                  %td= token.created_at
                  %td= token.scopes
                  %td= render 'delete_form', token: token
      - else
        .profile-settings-message.text-center
          你没有任何授权的应用程序
