= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: container_class }
        = nav_link(path: ['groups#show', 'groups#subgroups'], html_options: { class: 'home' }) do
          = link_to group_path(@group), title: '群组主页' do
            %span
              主页

        = nav_link(path: 'groups#activity') do
          = link_to activity_group_path(@group), title: '活动' do
            %span
              活动

.hidden-xs
  = render "projects/last_push"
