- page_title "问题"
= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, url_for(params.merge(format: :atom, private_token: current_user.private_token)), title: "#{@group.name} 问题")

- if group_issues(@group).exists?
  .top-area
    = render 'shared/issuable/nav', type: :issues
    - if current_user
      .nav-controls
        = link_to url_for(params.merge(format: :atom, private_token: current_user.private_token)), class: 'btn' do
          = icon('rss')
          %span.icon-label
            订阅
        = render 'shared/new_project_item_select', path: 'issues/new', label: "新建问题"

  = render 'shared/issuable/filter', type: :issues

  .row-content-block.second-block
    只显示来自
    %strong= @group.name
    群组的问题。
    - if current_user
      请到 #{link_to '仪表盘', issues_dashboard_path} 页面查看全部问题。

  = render 'shared/issues'
- else
  = render 'shared/empty_states/issues', project_select_button: true
