- page_title    "代码片段"
- header_title  "代码片段", dashboard_snippets_path

= render 'dashboard/snippets_head'

.gray-content-block
  .pull-right
    = link_to new_snippet_path, class: "btn btn-new", title: "新代码片段" do
      增加新的代码片段

  .oneline
    在 git 仓库外共享代码

%ul.nav.nav-tabs.prepend-top-20
  = nav_tab :scope, nil do
    = link_to dashboard_snippets_path do
      全部
      %span.badge
        = current_user.snippets.count
  = nav_tab :scope, 'are_private' do
    = link_to dashboard_snippets_path(scope: 'are_private') do
      私有
      %span.badge
        = current_user.snippets.are_private.count
  = nav_tab :scope, 'are_internal' do
    = link_to dashboard_snippets_path(scope: 'are_internal') do
      内部
      %span.badge
        = current_user.snippets.are_internal.count
  = nav_tab :scope, 'are_public' do
    = link_to dashboard_snippets_path(scope: 'are_public') do
      公开
      %span.badge
        = current_user.snippets.are_public.count

.my-snippets
  = render 'snippets/snippets'

