- @no_container = true
- page_title "运行环境"
= render "projects/pipelines/head"

%div{ class: container_class }
  .top-area
    .col-md-9
      %h3.page-title= @environment.name.capitalize
    .col-md-3
      .nav-controls
        - if can?(current_user, :update_environment, @environment)
          = link_to '编辑', edit_namespace_project_environment_path(@project.namespace, @project, @environment), class: 'btn'
          = link_to '销毁', namespace_project_environment_path(@project.namespace, @project, @environment), data: { confirm: '确定要销毁该运行环境？' }, class: 'btn btn-danger', method: :delete

  - if @deployments.blank?
    .blank-state.blank-state-no-icon
      %h2.blank-state-title
        你现在还没有任何部署。
      %p.blank-state-text
        在
        %code .gitlab-ci.yml
        中定义运行环境来跟踪部署情况。
        点击
        = link_to "这里", help_page_path("ci/environments"), class: "btn btn-success"
        了解更多
  - else
    .table-holder
      %table.table.builds.environments
        %thead
          %tr
            %th ID
            %th 提交
            %th 构建
            %th
            %th

        = render @deployments

    = paginate @deployments, theme: 'gitlab'
