- @no_container = true
- page_title "健康检查"
= render 'admin/monitoring/head'

%div{ class: container_class }
  %h3.page-title
    健康检查
  .bs-callout.clearfix
    .pull-left
      %p
    访问授权码：
    %code#health-check-token= current_application_settings.health_check_access_token
    .prepend-top-10
      = button_to "重置健康检查访问授权码", reset_health_check_token_admin_application_settings_path,
        method: :put, class: 'btn btn-default',
        data: { confirm: '确定要重置健康检查访问授权码？' }
  %p.light
    健康信息可以从以下终端检索。点击
    = link_to '这里', help_page_path('user/admin_area/monitoring/health_check')
    了解更多。
    %ul
      %li
        %code= readiness_url(token: current_application_settings.health_check_access_token)
      %li
        %code= liveness_url(token: current_application_settings.health_check_access_token)
      %li
        %code= metrics_url(token: current_application_settings.health_check_access_token)

  %hr
  .panel.panel-default
    .panel-heading
      当前状态：
      - if @errors.blank?
        = icon('circle', class: 'cgreen')
        健康
      - else
        = icon('warning', class: 'cred')
        不健康
    .panel-body
      - if @errors.blank?
        没有探测到健康问题
      - else
        = @errors
