.file-holder.file.append-bottom-default
  .file-title.clearfix
    .editor-ref
      = icon('code-fork')
      = ref
    %span.editor-file-name
      - if current_action?(:edit) || current_action?(:update)
        = text_field_tag 'file_path', (params[:file_path] || @path),
                                      class: 'form-control new-file-path'

    - if current_action?(:new) || current_action?(:create)
      %span.editor-file-name
        \/
      = text_field_tag 'file_name', params[:file_name], placeholder: "文件名",
        required: true, class: 'form-control new-file-name'

    .pull-right
      .license-selector.js-license-selector-wrap.hidden
        = dropdown_tag("选择一个授权(License)模板", options: { toggle_class: 'js-license-selector', title: "选择一个授权", filter: true, placeholder: "过滤器", data: { data: licenses_for_select, project: @project.name, fullname: @project.namespace.human_name } } )
      .gitignore-selector.js-gitignore-selector-wrap.hidden
        = dropdown_tag("选择一个 .gitignore 模板", options: { toggle_class: 'js-gitignore-selector', title: "选择一个模板", filter: true, placeholder: "过滤器", data: { data: gitignore_names } } )
      .gitlab-ci-yml-selector.js-gitlab-ci-yml-selector-wrap.hidden
        = dropdown_tag("选择一个 GitLab CI Yaml 模板", options: { toggle_class: 'js-gitlab-ci-yml-selector', title: "选择一个模板", filter: true, placeholder: "过滤器", data: { data: gitlab_ci_ymls } } )
      = button_tag class: 'soft-wrap-toggle btn', type: 'button' do
        %span.no-wrap
          = custom_icon('icon_no_wrap')
          不自动换行
        %span.soft-wrap
          = custom_icon('icon_soft_wrap')
          自动换行
      .encoding-selector
        = select_tag :encoding, options_for_select([ "base64", "text" ], "text"), class: 'select2'

  .file-editor.code
    %pre.js-edit-mode-pane#editor #{params[:content] || local_assigns[:blob_data]}
    - if local_assigns[:path]
      .js-edit-mode-pane#preview.hide
        .center
          %h2
            %i.icon-spinner.icon-spin
