%ul.nav-links.mobile-separator
  %li{ class: active_when(scope.nil?) }>
    = link_to build_path_proc.call(nil) do
      全部
      %span.badge.js-totalbuilds-count
        = limited_counter_with_delimiter(all_builds)

  %li{ class: active_when(scope == 'pending') }>
    = link_to build_path_proc.call('pending') do
      排队中
      %span.badge
        = limited_counter_with_delimiter(all_builds.pending)

  %li{ class: active_when(scope == 'running') }>
    = link_to build_path_proc.call('running') do
      正在运行
      %span.badge
        = limited_counter_with_delimiter(all_builds.running)

  %li{ class: active_when(scope == 'finished') }>
    = link_to build_path_proc.call('finished') do
      已完成
      %span.badge
        = limited_counter_with_delimiter(all_builds.finished)
