- @no_container = true
- page_title "编辑", @page.title.capitalize, "维基"

%div{ class: container_class }
  .wiki-page-header.has-sidebar-toggle
    %button.btn.btn-default.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
      = icon('angle-double-left')

    .nav-text
      %h2.wiki-page-title
        - if @page.persisted?
          = link_to @page.title.capitalize, namespace_project_wiki_path(@project.namespace, @project, @page)
        - else
          = @page.title.capitalize
        %span.light
          &middot;
          - if @page.persisted?
            编辑页面
          - else
            新建页面

    .nav-controls
      - if can?(current_user, :create_wiki, @project)
        = link_to '#modal-new-wiki', class: "add-new-wiki btn btn-new", "data-toggle" => "modal" do
          新建页面
      - if @page.persisted?
        = link_to namespace_project_wiki_history_path(@project.namespace, @project, @page), class: "btn" do
          页面历史
        - if can?(current_user, :admin_wiki, @project)
          = link_to namespace_project_wiki_path(@project.namespace, @project, @page), data: { confirm: "您确定要删除此页面？"}, method: :delete, class: "btn btn-danger" do
            删除

  = render 'form'

= render 'sidebar'
