- type = local_assigns.fetch(:type, :issues)
- if defined?(type) && type == :merge_requests
  - page_context_word = '合并请求'
- else
  - page_context_word = '问题'
- issuables = @issues || @merge_requests
- closed_title = 'Filter by issues that are currently closed.'

%ul.nav-links.issues-state-filters
  %li{ class: active_when(params[:state] == 'opened') }>
    %button.btn.btn-link{ id: 'state-opened', title: "只显示当前未关闭的 #{page_context_word} 。", type: 'button', data: { state: 'opened' } }
      #{issuables_state_counter_text(type, :opened)}

  - if type == :merge_requests
    %li{ class: active_when(params[:state] == 'merged') }>
      %button.btn.btn-link{ id: 'state-merged', title: '只显示当前已合并的合并请求。', type: 'button', data: { state: 'merged' } }
        #{issuables_state_counter_text(type, :merged)}

    - closed_title = '只显示当前已关闭、未合并的合并请求。'

  %li{ class: active_when(params[:state] == 'closed') }>
    %button.btn.btn-link{ id: 'state-closed', title: closed_title, type: 'button', data: { state: 'closed' } }
      #{issuables_state_counter_text(type, :closed)}

  %li{ class: active_when(params[:state] == 'all') }>
    %button.btn.btn-link{ id: 'state-all', title: "显示全部 #{page_context_word}.", type: 'button', data: { state: 'all' } }
      #{issuables_state_counter_text(type, :all)}
