- form = local_assigns.fetch(:form)

.form-group
  .checkbox.builds-feature{ class: ("hidden" if @project && @project.project_feature.send(:builds_access_level) == 0) }
    = form.label :only_allow_merge_if_pipeline_succeeds do
      = form.check_box :only_allow_merge_if_pipeline_succeeds
      %strong 只允许合并流水线成功的合并请求。
      %br
      %span.descr
        启用该选项需要先配置流水线。
        = link_to icon('question-circle'), help_page_path('user/project/merge_requests/merge_when_pipeline_succeeds', anchor: 'only-allow-merge-requests-to-be-merged-if-the-pipeline-succeeds'), target: '_blank'
  .checkbox
    = form.label :only_allow_merge_if_all_discussions_are_resolved do
      = form.check_box :only_allow_merge_if_all_discussions_are_resolved
      %strong 只允许合并所有讨论都已解决的合并请求。
  .checkbox
    = form.label :resolve_outdated_diff_discussions do
      = form.check_box :resolve_outdated_diff_discussions
      %strong 当它们过时的时候，自动解决合并请求差异讨论。
  .checkbox
    = form.label :printing_merge_request_link_enabled do
      = form.check_box :printing_merge_request_link_enabled
      %strong 从命令行推送时显示创建/查看合并请求的链接
