- form = local_assigns.fetch(:form)

.form-group
  = label_tag :merge_method_merge, class: 'label-light' do
    合并方法
  .radio
    = label_tag :project_merge_method_merge do
      = form.radio_button :merge_method, :merge, class: "js-merge-method-radio"
      %strong 合并提交
      %br
      %span.descr
        为每一个合并创建一个合并提交，并且只要没有冲突就允许合并。

  = render 'merge_request_rebase_settings', form: form

  = render 'merge_request_fast_forward_settings', project: @project, form: form

= render 'projects/merge_request_merge_settings', form: form
