= render 'ci/shared/guide' unless @project.setup_finished?

- if current_user && can?(current_user, :manage_project, gl_project) && !@project.any_runners?
  .alert.alert-danger
    在
    = link_to "Runners 页面", ci_project_runners_path(@project)
    配置好 runner 之前，此项目的构建不会被送达

%ul.nav.nav-tabs.append-bottom-20
  %li{class: ref_tab_class}
    = link_to '所有提交', ci_project_path(@project)
  - @project.tracked_refs.each do |ref|
    %li{class: ref_tab_class(ref)}
      = link_to ref, ci_project_path(@project, ref: ref)

  - if @ref && !@project.tracked_refs.include?(@ref)
    %li{class: 'active'}
      = link_to @ref, ci_project_path(@project, ref: @ref)

  %li.pull-right
    = link_to '在 GitLab 查看', @project.gitlab_url, no_turbolink.merge( class: 'btn btn-sm' )

- if @ref
  %p
    复制粘贴下面的链接可以显示 #{@ref} 的构建状态图
    = link_to '#', class: 'badge-codes-toggle btn btn-default btn-xs' do
      状态徽章
    .badge-codes-block.bs-callout.bs-callout-info.hide
      %p
        %span.label.label-info #{@ref}
        分支的状态徽章
      %div
        %label Markdown:
        = text_field_tag 'badge_md', markdown_badge_code(@project, @ref), readonly: true, class: 'form-control'
        %label Html:
        = text_field_tag 'badge_html', html_badge_code(@project, @ref), readonly: true, class: 'form-control'




%table.table.builds
  %thead
    %tr
      %th 状态
      %th 提交
      %th 信息
      %th 分支
      %th 合计花费时间
      %th 结束时间
      - if @project.coverage_enabled?
        %th 覆盖率

  = render @commits

= paginate @commits

- if @commits.empty?
  .bs-callout
    %h4 还没有提交

