= form_for @application_setting, url: ci_admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  - if @application_setting.errors.any?
    #error_explanation
      .alert.alert-danger
        - @application_setting.errors.full_messages.each do |msg|
          %p= msg

  %fieldset
    %legend 默认项目设置
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :all_broken_builds do
            = f.check_box :all_broken_builds
            只有问题构建时才发送邮件
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :add_pusher do
            = f.check_box :add_pusher
            增加推送人到收件人列表

  .form-actions
    = f.submit '保存', class: 'btn btn-primary'
