%ul.nav.nav-sidebar
  = nav_link do
    = link_to ci_root_path, title: '返回到 CI 项目', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span= '返回到 CI 项目'
  %li.separate-item
  = nav_link path: ['projects#show', 'commits#show', 'builds#show'] do
    = link_to ci_project_path(@project) do
      = icon('list-alt fw')
      %span
        提交
        %span.count= @project.commits.count
  - if can?(current_user, :admin_project, gl_project)
    = nav_link path: 'charts#show' do
      = link_to ci_project_charts_path(@project) do
        = icon('bar-chart fw')
        %span
          图表
    = nav_link path: ['runners#index', 'runners#show', 'runners#edit'] do
      = link_to ci_project_runners_path(@project) do
        = icon('cog fw')
        %span
          Runners
    = nav_link path: 'variables#show' do
      = link_to ci_project_variables_path(@project) do
        = icon('code fw')
        %span
          变量
    = nav_link path: 'web_hooks#index' do
      = link_to ci_project_web_hooks_path(@project) do
        = icon('link fw')
        %span
          Web 钩子
    = nav_link path: 'triggers#index' do
      = link_to ci_project_triggers_path(@project) do
        = icon('retweet fw')
        %span
          触发器
    = nav_link path: ['services#index', 'services#edit'] do
      = link_to ci_project_services_path(@project) do
        = icon('share fw')
        %span
          服务
    = nav_link path: 'events#index' do
      = link_to ci_project_events_path(@project) do
        = icon('book fw')
        %span
          事件
    %li.separate-item
    = nav_link path: 'projects#edit' do
      = link_to edit_ci_project_path(@project) do
        = icon('cogs fw')
        %span
          设置
