- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'schedule_form'

= form_for [@project.namespace.becomes(Namespace), @project, @schedule], as: :schedule, html: { id: "new-pipeline-schedule-form", class: "form-horizontal js-pipeline-schedule-form" } do |f|
  = form_errors(@schedule)
  .form-group
    .col-md-9
      = f.label :description, '描述', class: 'label-light'
      = f.text_field :description, class: 'form-control', required: true, autofocus: true, placeholder: '提供一个对该流水线的简单描述'
  .form-group
    .col-md-9
      = f.label :cron, '间隔模式', class: 'label-light'
      #interval-pattern-input{ data: { initial_interval: @schedule.cron } }
  .form-group
    .col-md-9
      = f.label :cron_timezone, 'Cron 时区', class: 'label-light'
      = dropdown_tag("选择时区", options: { toggle_class: 'btn js-timezone-dropdown', title: "选择时区", filter: true, placeholder: "过滤", data: { data: timezone_data } } )
      = f.text_field :cron_timezone, value: @schedule.cron_timezone, id: 'schedule_cron_timezone', class: 'hidden', name: 'schedule[cron_timezone]', required: true
  .form-group
    .col-md-9
      = f.label :ref, '目标分支', class: 'label-light'
      = dropdown_tag("Select target branch", options: { toggle_class: 'btn js-target-branch-dropdown git-revision-dropdown-toggle', dropdown_class: 'git-revision-dropdown', title: "选择目标分区", filter: true, placeholder: "过滤", data: { data: @project.repository.branch_names, default_branch: @project.default_branch } } )
      = f.text_field :ref, value: @schedule.ref, id: 'schedule_ref', class: 'hidden', name: 'schedule[ref]', required: true
  .form-group
    .col-md-9
      = f.label  :active, '已激活', class: 'label-light'
      %div
        = f.check_box :active, required: false, value: @schedule.active?
        激活
  .footer-block.row-content-block
    = f.submit '保存流水线计划', class: 'btn btn-create', tabindex: 3
    = link_to '流水线', pipeline_schedules_path(@project), class: 'btn btn-cancel'
