- page_title @milestone.title, "里程碑"
= render "header_title"

.detail-page-header
  .status-box{ class: status_box_class(@milestone) }
    - if @milestone.closed?
      已关闭
    - elsif @milestone.expired?
      已过期
    - else
      未关闭
  %span.identifier
    里程碑 ##{@milestone.iid}
  - if @milestone.expires_at
    %span.creator
      &middot;
      = @milestone.expires_at
  .pull-right
    - if can?(current_user, :admin_milestone, @project)
      - if @milestone.active?
        = link_to '关闭里程碑', namespace_project_milestone_path(@project.namespace, @project, @milestone, milestone: {state_event: :close }), method: :put, class: "btn btn-close btn-grouped"
      - else
        = link_to '重新打开里程碑', namespace_project_milestone_path(@project.namespace, @project, @milestone, milestone: {state_event: :activate }), method: :put, class: "btn btn-reopen btn-grouped"

      = link_to namespace_project_milestone_path(@project.namespace, @project, @milestone), data: { confirm: '确定要继续么？' }, method: :delete, class: "btn btn-grouped btn-remove" do
        %i.fa.fa-trash-o
        删除

      = link_to edit_namespace_project_milestone_path(@project.namespace, @project, @milestone), class: "btn btn-grouped" do
        %i.fa.fa-pencil-square-o
        编辑

.detail-page-description.gray-content-block.second-block
  %h2.title
    = markdown escape_once(@milestone.title), pipeline: :single_line
  %div
    - if @milestone.description.present?
      .description
        .wiki
          = preserve do
            = markdown @milestone.description

- if @milestone.issues.any? && @milestone.can_be_closed?
  .alert.alert-success.prepend-top-default
    %span 本里程碑的所有问题和合并请求都已关闭，可以选择关闭本里程碑。

.context.prepend-top-default
  %p.lead
    进度：
    #{@milestone.closed_items_count} 已关闭
    &ndash;
    #{@milestone.open_items_count} 未关闭
    &nbsp;
    %span.light #{@milestone.percent_complete}% 完成
    %span.pull-right= @milestone.expires_at
  = milestone_progress_bar(@milestone)

%ul.center-top-menu.no-top.no-bottom
  %li.active
    = link_to '#tab-issues', 'data-toggle' => 'tab' do
      问题
      %span.badge= @issues.count
  %li
    = link_to '#tab-merge-requests', 'data-toggle' => 'tab' do
      合并请求
      %span.badge= @merge_requests.count
  %li
    = link_to '#tab-participants', 'data-toggle' => 'tab' do
      参与者
      %span.badge= @users.count

.tab-content
  .tab-pane.active#tab-issues
    .gray-content-block.middle-block
      .pull-right
        - if can?(current_user, :create_issue, @project)
          = link_to new_namespace_project_issue_path(@project.namespace, @project, issue: { milestone_id: @milestone.id }), class: "btn  btn-grouped", title: "新问题" do
            %i.fa.fa-plus
            新问题
        - if can?(current_user, :read_issue, @project)
          = link_to '浏览问题', namespace_project_issues_path(@milestone.project.namespace, @milestone.project, milestone_title: @milestone.title), class: "btn btn-grouped"

      .oneline
        此里程碑的所有问题

    .row.prepend-top-default
      .col-md-4
        = render('issues', title: '未开始的问题 (未关闭 & 未指派)', issues: @issues.opened.unassigned, id: 'unassigned')
      .col-md-4
        = render('issues', title: '正在进行的问题 (未关闭 & 已指派)', issues: @issues.opened.assigned, id: 'ongoing')
      .col-md-4
        = render('issues', title: '完成的问题 (已关闭)', issues: @issues.closed, id: 'closed')

  .tab-pane#tab-merge-requests
    .gray-content-block.middle-block
      .pull-right
        - if can?(current_user, :read_merge_request, @project)
          = link_to '浏览合并请求', namespace_project_merge_requests_path(@milestone.project.namespace, @milestone.project, milestone_title: @milestone.title), class: "btn btn-grouped"

      .oneline
        此里程碑的所有合并请求

    .row.prepend-top-default
      .col-md-3
        = render('merge_requests', title: '正在处理的 (未关闭 & 未指派)', merge_requests: @merge_requests.opened.unassigned, id: 'unassigned')
      .col-md-3
        = render('merge_requests', title: '等待合并 (未关闭 & 已指派)', merge_requests: @merge_requests.opened.assigned, id: 'ongoing')
      .col-md-3
        = render('merge_requests', title: '拒绝 (已关闭)', merge_requests: @merge_requests.closed, id: 'closed')
      .col-md-3
        .panel.panel-primary
          .panel-heading 已合并
          %ul.well-list
            - @merge_requests.merged.each do |merge_request|
              = render 'merge_request', merge_request: merge_request

  .tab-pane#tab-participants
    .gray-content-block.middle-block
      .oneline
        此里程碑的所有参与者

    %ul.bordered-list
      - @users.each do |user|
        %li
          = link_to user, title: user.name, class: "darken" do
            = image_tag avatar_icon(user, 32), class: "avatar s32"
            %strong= truncate(user.name, lenght: 40)
            %br
            %small.cgray= user.username
