.modal.fade{ tabindex: "-1", role: "dialog", id: notifications_menu_identifier("modal", notification_setting), aria: { labelledby: "custom-notifications-title" } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: { dismiss: "modal" }, aria: { label: "close" } }
          %span{ aria: { hidden: "true" } } ×
        %h4#custom-notifications-title.modal-title
          自定义通知事件

      .modal-body
        .container-fluid
          = form_for notification_setting, html: { class: "custom-notifications-form" } do |f|
            = hidden_setting_source_input(notification_setting)
            .row
              .col-lg-4
                %h4.prepend-top-0
                  通知事件
                %p
                  <strong>自定义</strong>通知级别与<strong>参与</strong>级别相同。使用自定义通知级别，您将只收到您所选定活动的通知。想要了解更多，请点击
                  = succeed "。" do
                    %a{ href: help_page_path('workflow/notifications'), target: "_blank" } 通知邮件
              .col-lg-8
                - NotificationSetting::EMAIL_EVENTS.each_with_index do |event, index|
                  - field_id = "#{notifications_menu_identifier("modal", notification_setting)}_notification_setting[#{event}]"
                  .form-group
                    .checkbox{ class: ("prepend-top-0" if index == 0) }
                      %label{ for: field_id }
                        = check_box("notification_setting", event, id: field_id, class: "js-custom-notification-event", checked: notification_setting.events[event])
                        %strong
                          = notification_event_name(event)
                          = icon("spinner spin", class: "custom-notification-event-loading")
