.commit-info
  .append-bottom-20
    = ci_status_with_icon(@commit.status)

  .gray-content-block.middle-block
    %pre.commit-message
      #{@commit.git_commit_message}

  .gray-content-block.second-block
    .row
      .col-sm-6
        - if @commit.compare?
          %p
            %span.attr-name 比较：
            #{gitlab_compare_link(@project, @commit.short_before_sha, @commit.short_sha)}
        - else
          %p
            %span.attr-name 提交：
            #{gitlab_commit_link(@project, @commit.sha)}

        %p
          %span.attr-name 分支：
          #{gitlab_ref_link(@project, @commit.ref)}
      .col-sm-6
        %p
          %span.attr-name 作者：
          #{@commit.git_author_name} (#{@commit.git_author_email})
        - if @commit.created_at
          %p
            %span.attr-name 创建时间：
            #{@commit.created_at.stamp('08-27 19:00')}

- if current_user && can?(current_user, :manage_builds, gl_project)
  .pull-right
    - if @commit.builds.running_or_pending.any?
      = link_to "取消", cancel_ci_project_ref_commits_path(@project, @commit.ref, @commit.sha), class: 'btn btn-sm btn-danger'


- if @commit.yaml_errors.present?
  .bs-callout.bs-callout-danger
    %h4 在 .gitlab-ci.yml 文件中发现错误：
    %ul
      - @commit.yaml_errors.split(",").each do |error|
        %li= error

- unless @commit.push_data[:ci_yaml_file]
  .bs-callout.bs-callout-warning
    此提交里面没有发现 .gitlab-ci.yml 文件

%h3
  构建
  - if @commit.duration > 0
    %small.pull-right
      %i.fa.fa-time
      #{time_interval_in_words @commit.duration}

%table.table.builds
  %thead
    %tr
      %th 状态
      %th 构建 ID
      %th 阶段
      %th 名称
      %th 花费时间
      %th 结束时间
      - if @project.coverage_enabled?
        %th 覆盖率
      %th
  = render @commit.builds_without_retry_sorted, controls: true

- if @commit.retried_builds.any?
  %h3
    重试的构建

  %table.table.builds
    %thead
      %tr
        %th 状态
        %th 构建 ID
        %th 阶段
        %th 名称
        %th 花费时间
        %th 结束时间
        - if @project.coverage_enabled?
          %th 覆盖率
        %th
    = render @commit.retried_builds
