.pipeline-graph-container
  .row-content-block.build-content.middle-block.pipeline-actions
    .pull-right
      .btn.btn-grouped.btn-white.toggle-pipeline-btn
        %span.toggle-btn-text 隐藏
        %span 流水线图表
        %span.caret
      - if can?(current_user, :update_pipeline, pipeline.project)
        - if pipeline.builds.latest.failed.any?(&:retryable?)
          = link_to "失败重试", retry_namespace_project_pipeline_path(pipeline.project.namespace, pipeline.project, pipeline.id), class: 'btn btn-grouped btn-primary', method: :post

        - if pipeline.builds.running_or_pending.any?
          = link_to "取消运行", cancel_namespace_project_pipeline_path(pipeline.project.namespace, pipeline.project, pipeline.id), data: { confirm: '您确定要取消运行？' }, class: 'btn btn-grouped btn-danger', method: :post

    .oneline.clearfix
      - if defined?(pipeline_details) && pipeline_details
        流水线
        = link_to "##{pipeline.id}", namespace_project_pipeline_path(pipeline.project.namespace, pipeline.project, pipeline.id), class: "monospace"
        with
        = pluralize pipeline.statuses.count(:id), '个构建', '个构建'
        - if pipeline.ref
          for
          = link_to pipeline.ref, namespace_project_commits_path(pipeline.project.namespace, pipeline.project, pipeline.ref), class: "monospace"
        - if defined?(link_to_commit) && link_to_commit
          for commit
          = link_to pipeline.short_sha, namespace_project_commit_path(pipeline.project.namespace, pipeline.project, pipeline.sha), class: "monospace"
        - if pipeline.duration
          持续了
          = time_interval_in_words pipeline.duration

  .row-content-block.build-content.middle-block.pipeline-graph.hidden
    .pipeline-visualization
      %ul.stage-column-list
        - stages = pipeline.stages_with_latest_statuses
        - stages.each do |stage, statuses|
          %li.stage-column
            .stage-name
              %a{name: stage}
              - if stage
                = stage.titleize
            .builds-container
              %ul
                = render "projects/commit/pipeline_stage", statuses: statuses


- if pipeline.yaml_errors.present?
  .bs-callout.bs-callout-danger
    %h4 在您的 .gitlab-ci.yml 文件中发现错误：
    %ul
      - pipeline.yaml_errors.split(",").each do |error|
        %li= error
    您可以在 #{link_to "Lint", ci_lint_path} 验证您的 .gitlab-ci.yml 文件。 

- if pipeline.project.builds_enabled? && !pipeline.ci_yaml_file
  .bs-callout.bs-callout-warning
    这个提交没有 \.gitlab-ci.yml 文件

.table-holder.pipeline-holder
  %table.table.ci-table.pipeline
    %thead
      %tr
        %th 状态
        %th 构建 ID
        %th 名称
        %th
        - if pipeline.project.build_coverage_enabled?
          %th 覆盖率
        %th
    - pipeline.statuses.relevant.stages.each do |stage|
      = render 'projects/commit/ci_stage', stage: stage, statuses: pipeline.statuses.relevant.where(stage: stage)
