- content_for :header do
  %h1{ style: "background: #c40834; color: #FFF; font: normal 20px Helvetica, Arial, sans-serif; margin: 0; padding: 5px 10px; line-height: 32px; font-size: 16px;" }
    GitLab (job failed)

%h3
  项目:
  = link_to namespace_project_url(@project.namespace, @project) do
    = @project.name

%p
  提交: #{link_to @build.short_sha, namespace_project_commit_url(@build.project.namespace, @build.project, @build.sha)}
%p
  作者: #{@build.pipeline.git_author_name}
%p
  分支: #{@build.ref}
%p
  阶段: #{@build.stage}
%p
  作业: #{@build.name}
%p
  消息: #{@build.pipeline.git_commit_message}

%p
  作业明细: #{link_to "作业 #{@build.id}", namespace_project_build_url(@build.project.namespace, @build.project, @build)}
