%p
  经过验证检查后， 您的 Gitlab 自定义域名已被
  %strong 禁用。
  这意味着您位于 #{link_to @domain.url, @domain.url} 的内容将无法被访问。
%p
  项目: #{link_to @project.human_name, project_url(@project)}
%p
  域名: #{link_to @domain.domain, project_pages_domain_url(@project, @domain)}
%p
  如果这个域名是被错误禁用，请按照
  = link_to '这些指示', help_page_url('user/project/pages/getting_started_part_three.md', anchor: 'dns-txt-record')
  来确认并重新启用您的域名。
= render 'removal_notification'
