.event-title
  %span.author_name= link_to_author event
  %span{class: event.action_name}
    = event.action_name

  - if !event.target_type
    项目

  = render "events/event_scope", event: event

  - if event.target
    %strong
      = link_to [event.project.namespace.becomes(Namespace), event.project, event.target], class: 'has-tooltip', title: event.target_title do
        = event.target_type_zh 
        = event.target.reference_link_text
  - else
    = event_action_name(event)

- if event.target.respond_to?(:title)
  .event-body
    .event-note
      = event.target.title
