- if current_user
  = link_to toggle_star_namespace_project_path(@project.namespace, @project), class: 'btn star-btn toggle-star has_tooltip', method: :post, remote: true, title: "星标项目" do
    = icon('star fw')
    %span.count
      = @project.star_count

  :javascript
    $('.project-home-panel .toggle-star').on('ajax:success', function (e, data, status, xhr) {
      $(this).replaceWith(data.html);
    })
    .on('ajax:error', function (e, xhr, status, error) {
      new Flash('切换星标失败。请稍后重试。', 'alert');
    });

- else
  = link_to new_user_session_path, class: 'btn has_tooltip star-btn', title: '必须登入后才能给项目加注星标' do
    = icon('star fw')
    %span.count
      = @project.star_count
