%fieldset
  %legend 整体
  %p
    合计：
    %strong= pluralize @project.builds.count(:all), '次构建', '次构建'
  %p
    成功：
    %strong= pluralize @project.builds.success.count(:all), '次构建', '次构建'
  %p
    失败：
    %strong= pluralize @project.builds.failed.count(:all), '次构建', '次构建'

  %p
    成功率：
    %strong
      #{success_ratio(@project.builds.success, @project.builds.failed)}%

  %p
    提交覆盖：
    %strong
      = @project.commits.count(:all)
