- @no_container = true
= render "admin/dashboard/head"

%div{ class: container_class }

  .top-area
    %ul.nav-links
      %li{class: ('active' if @scope.nil?)}
        = link_to admin_builds_path do
          全部
          %span.badge.js-totalbuilds-count= @all_builds.count(:id)

      %li{class: ('active' if @scope == 'pending')}
        = link_to admin_builds_path(scope: :pending) do
          排队中
          %span.badge= number_with_delimiter(@all_builds.pending.count(:id))

      %li{class: ('active' if @scope == 'running')}
        = link_to admin_builds_path(scope: :running) do
          正在运行
          %span.badge= number_with_delimiter(@all_builds.running.count(:id))

      %li{class: ('active' if @scope == 'finished')}
        = link_to admin_builds_path(scope: :finished) do
          已完成
          %span.badge= number_with_delimiter(@all_builds.finished.count(:id))

    .nav-controls
      - if @all_builds.running_or_pending.any?
        = link_to '全部取消', cancel_all_admin_builds_path, data: { confirm: '确定全部取消？' }, class: 'btn btn-danger', method: :post

  .row-content-block.second-block
    #{(@scope || 'all').capitalize} builds

  %ul.content-list.builds-content-list
    - if @builds.blank?
      %li
        .nothing-here-block No builds to show
    - else
      .table-holder
        %table.table.builds
          %thead
            %tr
              %th 状态
              %th 提交
              %th 项目
              %th Runner
              %th 名称
              %th
              %th

          - @builds.each do |build|
            = render "admin/builds/build", build: build

      = paginate @builds, theme: 'gitlab'
