%h3 共享的 runners

.bs-callout.bs-callout-warning
  GitLab Runners 不能提供项目构建之间的安全隔离。你需要信任所有 GitLab 用户，他们可用推送代码到项目 A、B 或 C 来在 runner X 所在的机器上运行脚本。
  %hr
  &nbsp; 为此项目
  - if @project.shared_runners_enabled?
    = link_to toggle_shared_runners_namespace_project_runners_path(@project.namespace, @project), class: 'btn btn-warning', method: :post do
      禁用共享的 runners
  - else
    = link_to toggle_shared_runners_namespace_project_runners_path(@project.namespace, @project), class: 'btn btn-success', method: :post do
      启用共享的 runners

- if @shared_runners_count.zero?
  此 GitLab 服务器还没有共享 runner。
  请使用特定的 runner 或者请求管理员创建共享的 runner。
- else
  %h4.underlined-title 可用的共享 runners - #{@shared_runners_count}
  %ul.bordered-list.available-shared-runners
    = render partial: 'runner', collection: @shared_runners, as: :runner
  - if @shared_runners_count > 10
    .light
      and #{@shared_runners_count - 10} 个更多...
