- project = local_assigns[:project]

.context.prepend-top-default
  .milestone-summary
    %h4 进度

    .milestone-stats-and-buttons
      .milestone-stats
        %span.milestone-stat.with-drilldown
          %strong= milestone.issues_visible_to_user(current_user).size
          问题:
        %span.milestone-stat
          %strong= milestone.issues_visible_to_user(current_user).opened.size
          未关闭 和
          %strong= milestone.issues_visible_to_user(current_user).closed.size
          已关闭
        %span.milestone-stat.with-drilldown
          %strong= milestone.merge_requests.size
          合并请求:
        %span.milestone-stat
          %strong= milestone.merge_requests.opened.size
          未关闭 和
          %strong= milestone.merge_requests.merged.size
          已合并
        %span.milestone-stat
          完成
          %strong== #{milestone.percent_complete(current_user)}%
        - remaining_days = milestone_remaining_days(milestone)
        - if remaining_days.present?
          %span.milestone-stat
            %span.remaining-days= remaining_days

      .milestone-progress-buttons
        %span.tab-issues-buttons
          - if project && can?(current_user, :create_issue, project)
            = link_to new_namespace_project_issue_path(project.namespace, project, issue: { milestone_id: milestone.id }), class: "btn", title: "New Issue" do
              新建问题
          = link_to '浏览问题', milestones_browse_issuables_path(milestone, type: :issues), class: "btn"
        %span.tab-merge-requests-buttons.hidden
          = link_to '浏览合并请求', milestones_browse_issuables_path(milestone, type: :merge_requests), class: "btn"

    = milestone_progress_bar(milestone)
