.nav-links.sub-nav
  %ul{ class: (container_class) }
    - if project_nav_tab? :pipelines
      = nav_link(controller: :pipelines) do
        = link_to project_pipelines_path(@project), title: '管道', class: 'shortcuts-pipelines' do
          %span
            管道

    - if project_nav_tab? :builds
      = nav_link(controller: %w(builds)) do
        = link_to project_builds_path(@project), title: '构建', class: 'shortcuts-builds' do
          %span
            构建

    - if project_nav_tab? :environments
      = nav_link(controller: %w(environments)) do
        = link_to project_environments_path(@project), title: '运行环境', class: 'shortcuts-environments' do
          %span
            运行环境
