- humanized_resource_name = spammable.class.model_name.human.downcase
- resource_name = spammable.class.model_name.singular

%h3.page-title
  反垃圾信息验证
%hr

%p
  #{"我们在 #{humanized_resource_name} 检测到潜在的垃圾信息。 请识别以下 reCAPTCHA 后再继续。"}

= form_for form do |f|
  .recaptcha
    - params[resource_name].each do |field, value|
      = hidden_field(resource_name, field, value: value)
    = hidden_field_tag(:spam_log_id, spammable.spam_log.id)
    = hidden_field_tag(:recaptcha_verification, true)
    = recaptcha_tags

    -# Yields a block with given extra params.
    = yield

  .row-content-block.footer-block
    = f.submit "提交 #{humanized_resource_name}", class: 'btn btn-create'
